
projects/.vs/2DTAN/v15/Browse.VC.db
projects/.vs/2DTAN/v15/ipch/AutoPCH/ed41985e8dbe4f3/TESTINGUNIT.ipch
projects/.vs/2DTAN/v15/ipch/AutoPCH/dd8fe0b1d42f476f/MAT4.ipch
projects/.vs/2DTAN/v15/ipch/AutoPCH/d8d275e40f558221/TANGRAM.ipch
projects/.vs/2DTAN/v15/ipch/AutoPCH/33e98aec1a3747c7/VEC4.ipch
projects/.vs/2DTAN/v15/ipch/AutoPCH/1f13eab634914700/MAT3.ipch
projects/.vs/2DTAN/v15/Browse.VC.opendb
projects/.vs/2DTAN/v15/.suo
projects/.vs/MatrixDelivery/v15/.suo
projects/.vs/MatrixDelivery/v15/Browse.VC.db
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/1b8dfafed76f90b9/MAT2.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/2c4f842411b7151/VEC2.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/1f13eab634914700/MAT3.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/33e98aec1a3747c7/VEC4.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/dd8fe0b1d42f476f/MAT4.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/e574c81034b60f58/VEC3.ipch
projects/.vs/MatrixDelivery/v15/ipch/AutoPCH/ed41985e8dbe4f3/TESTINGUNIT.ipch
projects/.vs/MatrixDelivery/v15/Solution.VC.db
projects/Debug/2DTAN.exe
projects/Debug/2DTAN.ilk
projects/Debug/2DTAN.pdb
projects/lab0/Debug/2DTAN.tlog/2DTAN.lastbuildstate
projects/lab0/Debug/2DTAN.tlog/CL.command.1.tlog
projects/lab0/Debug/2DTAN.tlog/CL.read.1.tlog
projects/lab0/Debug/2DTAN.tlog/CL.write.1.tlog
projects/lab0/Debug/2DTAN.tlog/link.command.1.tlog
projects/lab0/Debug/2DTAN.tlog/link.read.1.tlog
projects/lab0/Debug/2DTAN.tlog/link.write.1.tlog
projects/lab0/Debug/lab0.log
projects/lab0/Debug/mat2.obj
projects/lab0/Debug/mat3.obj
projects/lab0/Debug/mat4.obj
projects/lab0/Debug/MatrixDelivery.tlog/CL.read.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/CL.command.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/link.command.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/CL.write.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/link.write.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/link.read.1.tlog
projects/lab0/Debug/MatrixDelivery.tlog/MatrixDelivery.lastbuildstate
projects/lab0/Debug/Tangram.obj
projects/lab0/Debug/TestingUnit.obj
projects/lab0/Debug/vc141.idb
projects/lab0/Debug/vc141.pdb
projects/lab0/Debug/vec2.obj
projects/lab0/Debug/vec3.obj
projects/lab0/Debug/vec4.obj
projects/lab0/x64/Debug/MatrixDelivery.tlog/CL.command.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/2DTAN.lastbuildstate
projects/lab0/x64/Debug/2DTAN.tlog/CL.command.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/CL.write.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/link.command.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/link.write.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/link.read.1.tlog
projects/lab0/x64/Debug/2DTAN.tlog/unsuccessfulbuild
projects/lab0/x64/Debug/MatrixDelivery.tlog/CL.read.1.tlog
projects/lab0/x64/Debug/MatrixDelivery.tlog/CL.write.1.tlog
projects/lab0/x64/Debug/MatrixDelivery.tlog/link.command.1.tlog
projects/lab0/x64/Debug/MatrixDelivery.tlog/link.read.1.tlog
projects/lab0/x64/Debug/MatrixDelivery.tlog/link.write.1.tlog
*.lastbuildstate
projects/lab0/x64/Debug/MatrixDelivery.tlog/unsuccessfulbuild
projects/lab0/x64/Debug/Tangram.obj
projects/lab0/x64/Debug/TestingUnit.obj
*.idb
*.pdb
*.log
